h1 {
	color: darkgreen;
}

h2 {
	color: #1460AA;
	background: rgb(230, 210, 210);
}

section {
	background: #7fc5da;
}

body {
	background: #fefefe;
}

#first {
	background: #172d34;
	color:#9adc92;
}

.next {
	background:#db7882;
}

div {
	background: #7fc5da;
}

.bigbang h3 {
	background: #9adc92;
}